// Sizing

*, *:before, *:after {
	box-sizing:border-box;
	}

// Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
	}
body {
	line-height:1;
	}
ol, ul {
	list-style:none;
	}
blockquote, q {
	quotes:none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
	}
table {
	border-collapse:collapse;
	border-spacing:0;
	}

// Logo

.logo {

	background:darken(#3A2125, 4%);

	&__column {
		margin:auto;
		max-width:1200px;
		}

	&__title {
		position:absolute;
		clip:rect(0 0 0 0);
		}

	&__list {
		display:flex;
		flex-wrap:wrap;
		}

	&__item {

		padding:0 5%;

		&--half {
			width:50%;
			}
		&--quarter {
			width:25%;
			}
		&--light {
			background:#F6F6F6;
			}
		&--dark {
			background:#3A2125;
			}

		}

	&__link {

		display:block;
		transition:transform 0.1s linear;

		&:hover,
		&:focus {
			transform:scale(1.1);
			}

		}

	&__item--half &__image {
		margin:15% 0;
		}
	&__item--quarter &__image {
		margin:30% 0;
		}
	&__list:not(:last-of-type) &__item--quarter &__image {
		margin-bottom:0;
		}

	}
